In [2]:
# 1.캐글 -> 타이타닉 -> 호칭 -> 호칭별 건수 -> 소트 -> 상위 10개 호칭 조사
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import sklearn.preprocessing
from sklearn.preprocessing import StandardScaler, RobustScaler
import matplotlib.pyplot as plt
tt_csv=pd.read_csv("train.csv")
tt_csv.describe()
type(tt_csv)
ttN=tt_csv['Name']
temp=ttN.str.split(',').str[1]
tt_nickN=temp.str.split('.').str[0]
tt_nickH=tt_nickN.value_counts(sort=True).head(10)
tt_nickH

 Mr        517
 Miss      182
 Mrs       125
 Master     40
 Dr          7
 Rev         6
 Mlle        2
 Major       2
 Col         2
 Ms          1
Name: Name, dtype: int64

In [3]:
# 2. 나이(age) -> 구간화 -> 구간별 건수 -> 소트 -> 건수 출력
tt_csv['Age']
pd.isnull(tt_csv['Age'])
pd.isnull(tt_csv['Age']).sum()
NA_mean=np.mean(tt_csv['Age'])
tt_csv_A=tt_csv['Age'].fillna(np.mean(NA_mean)).astype(int)
CutA=pd.cut(tt_csv_A, bins=[0,10,20,30,40,50,60,70])
pd.value_counts(CutA, sort=False)

(0, 10]      57
(10, 20]    116
(20, 30]    408
(30, 40]    155
(40, 50]     84
(50, 60]     42
(60, 70]     18
Name: Age, dtype: int64

In [7]:
# 3. 캐글 -> 타이타닉 -> 성별 -> 0/1
tt_csv_S=tt_csv['Sex']
tt_csv_FM=tt_csv_S.replace(["female","male"], [0,1])
tt_csv_FM

0      1
1      0
2      0
3      0
4      1
5      1
6      1
7      1
8      0
9      0
10     0
11     0
12     1
13     1
14     0
15     0
16     1
17     1
18     0
19     0
20     1
21     1
22     0
23     1
24     0
25     0
26     1
27     1
28     0
29     1
      ..
861    1
862    0
863    0
864    1
865    0
866    0
867    1
868    1
869    1
870    1
871    0
872    1
873    1
874    0
875    0
876    1
877    1
878    1
879    0
880    0
881    1
882    0
883    1
884    1
885    0
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

In [ ]:
# 4.주식데이터 표준화 
# sorry fellas i need more time to make it sure to be correct..to be Countinue..