In [ ]:
# 1. 여러 개의 파일(for문 사용)로드
# 2. melt -> pivot_table 행/열 요소 변경 연습
# 3.#concat, split 응용
# #ebola데이터를
# #Date Day variable     value status country.stataus
# #날짜 ...  Cases_국가 2000   Cases        국가명

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os 
import urllib.request
import glob
from jupyterthemes import jtplot 
jtplot.style(theme='gruvboxd', context='paper', spines=True, 
             ticks=True, grid=True, gridlines='dotted', figsize=(6,4.5))

In [2]:
with open('./data/raw_data_urls.txt', 'r') as data_urls:
    for line, url in enumerate(data_urls):
        if line==10:
            break
        filepath = os.path.join('./data', url.split('/')[-1].strip())
        urllib.request.urlretrieve(url, filepath) 
        

df_list = []
file_list = glob.glob('./data/fhv_tripdata_2015-*')

for file in file_list:
    df_list.append(pd.read_csv(file))

taxi = pd.concat(df_list)

In [3]:
taxi.shape

(46626107, 3)

In [4]:
ebola = pd.read_csv('./data/country_timeseries.csv')

ebola_melt = pd.melt(ebola, id_vars=['Date', 'Day'], var_name='status', value_name='counts')
ebola_melt = ebola_melt.dropna()
ebola_melt.pivot_table(index=['Date', 'Day'], columns='status', values='counts')

,status,Cases_Guinea,Cases_Liberia,Cases_Mali,Cases_Nigeria,Cases_Senegal,Cases_SierraLeone,Cases_Spain,Cases_UnitedStates,Deaths_Guinea,Deaths_Liberia,Deaths_Mali,Deaths_Nigeria,Deaths_Senegal,Deaths_SierraLeone,Deaths_Spain,Deaths_UnitedStates
Date,Day,,,,,,,,,,,,,,,,
1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
1/3/2015,287,2769.0,8166.0,NaN,NaN,NaN,9722.0,NaN,NaN,1767.0,3496.0,NaN,NaN,NaN,2915.0,NaN,NaN
1/4/2015,288,2775.0,NaN,NaN,NaN,NaN,9780.0,NaN,NaN,1781.0,NaN,NaN,NaN,NaN,2943.0,NaN,NaN
1/5/2015,289,2776.0,NaN,NaN,NaN,NaN,10030.0,NaN,NaN,1786.0,NaN,NaN,NaN,NaN,2977.0,NaN,NaN
10/1/2014,193,1199.0,3834.0,NaN,20.0,1.0,2437.0,NaN,1.0,739.0,2069.0,NaN,8.0,0.0,623.0,NaN,0.0
10/11/2014,203,NaN,4249.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2458.0,NaN,NaN,NaN,NaN,NaN,NaN
10/12/2014,204,1472.0,NaN,NaN,20.0,1.0,3252.0,1.0,2.0,843.0,NaN,NaN,8.0,0.0,1183.0,1.0,1.0
10/13/2014,205,NaN,4262.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2484.0,NaN,NaN,NaN,NaN,NaN,NaN
10/14/2014,206,1519.0,NaN,NaN,20.0,1.0,3410.0,1.0,3.0,862.0,NaN,NaN,8.0,0.0,1200.0,1.0,0.0
10/18/2014,210,NaN,4665.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2705.0,NaN,NaN,NaN,NaN,NaN,NaN
10/19/2014,211,1540.0,NaN,NaN,20.0,1.0,3706.0,1.0,3.0,904.0,NaN,NaN,8.0,0.0,1259.0,0.0,1.0
10/21/2014,213,1553.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,926.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10/22/2014,214,NaN,NaN,1.0,NaN,NaN,3896.0,1.0,4.0,NaN,NaN,1.0,NaN,NaN,1281.0,0.0,1.0
10/25/2014,216,NaN,6535.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2413.0,NaN,NaN,NaN,NaN,NaN,NaN
10/27/2014,218,1906.0,NaN,1.0,20.0,1.0,5235.0,1.0,4.0,997.0,NaN,1.0,8.0,0.0,1500.0,0.0,1.0
10/29/2014,220,1667.0,NaN,1.0,20.0,1.0,5338.0,1.0,4.0,1018.0,NaN,1.0,8.0,0.0,1510.0,0.0,1.0
10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
10/4/2014,196,NaN,3924.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2210.0,NaN,NaN,NaN,NaN,NaN,NaN
10/5/2014,197,1298.0,NaN,NaN,20.0,1.0,2789.0,NaN,1.0,768.0,NaN,NaN,8.0,0.0,879.0,NaN,0.0
10/7/2014,199,1350.0,4076.0,NaN,NaN,NaN,NaN,NaN,NaN,778.0,2316.0,NaN,NaN,NaN,NaN,NaN,NaN
10/8/2014,200,NaN,NaN,NaN,20.0,1.0,2950.0,1.0,1.0,NaN,NaN,NaN,8.0,0.0,930.0,1.0,1.0
11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
11/11/2014,234,1919.0,NaN,4.0,20.0,1.0,5586.0,1.0,4.0,1166.0,NaN,3.0,8.0,0.0,1187.0,0.0,1.0
11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
11/16/2014,239,1971.0,NaN,5.0,20.0,1.0,6073.0,1.0,4.0,1192.0,NaN,5.0,8.0,0.0,1250.0,0.0,1.0
11/18/2014,241,2047.0,7082.0,6.0,20.0,1.0,6190.0,1.0,4.0,1214.0,2963.0,6.0,8.0,0.0,1267.0,0.0,1.0
11/2/2014,225,1731.0,NaN,1.0,20.0,1.0,4759.0,1.0,4.0,1041.0,NaN,1.0,8.0,0.0,1070.0,0.0,1.0
11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
11/23/2014,246,2134.0,NaN,7.0,20.0,1.0,6599.0,1.0,4.0,1260.0,NaN,6.0,8.0,0.0,1398.0,0.0,1.0
11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7/2/2014,102,412.0,115.0,NaN,NaN,NaN,252.0,NaN,NaN,305.0,75.0,NaN,NaN,NaN,101.0,NaN,NaN
7/20/2014,120,415.0,224.0,NaN,NaN,NaN,454.0,NaN,NaN,314.0,127.0,NaN,NaN,NaN,219.0,NaN,NaN
7/23/2014,123,427.0,249.0,NaN,0.0,NaN,525.0,NaN,NaN,319.0,129.0,NaN,0.0,NaN,224.0,NaN,NaN
7/27/2014,126,460.0,329.0,NaN,1.0,NaN,533.0,NaN,NaN,339.0,156.0,NaN,1.0,NaN,233.0,NaN,NaN
7/30/2014,129,472.0,391.0,NaN,3.0,NaN,574.0,NaN,NaN,346.0,227.0,NaN,1.0,NaN,252.0,NaN,NaN
7/6/2014,106,408.0,131.0,NaN,NaN,NaN,305.0,NaN,NaN,307.0,84.0,NaN,NaN,NaN,127.0,NaN,NaN
7/8/2014,108,409.0,142.0,NaN,NaN,NaN,337.0,NaN,NaN,309.0,88.0,NaN,NaN,NaN,142.0,NaN,NaN
8/1/2014,132,485.0,468.0,NaN,4.0,NaN,646.0,NaN,NaN,358.0,255.0,NaN,1.0,NaN,273.0,NaN,NaN
8/11/2014,142,510.0,670.0,NaN,12.0,NaN,783.0,NaN,NaN,377.0,355.0,NaN,3.0,NaN,334.0,NaN,NaN
8/13/2014,144,519.0,786.0,NaN,12.0,NaN,810.0,NaN,NaN,380.0,413.0,NaN,4.0,NaN,348.0,NaN,NaN
8/16/2014,147,543.0,834.0,NaN,15.0,NaN,848.0,NaN,NaN,394.0,466.0,NaN,4.0,NaN,365.0,NaN,NaN
8/18/2014,149,579.0,972.0,NaN,15.0,NaN,907.0,NaN,NaN,396.0,576.0,NaN,4.0,NaN,374.0,NaN,NaN
8/20/2014,151,607.0,1082.0,NaN,16.0,NaN,910.0,NaN,NaN,406.0,624.0,NaN,5.0,NaN,392.0,NaN,NaN
8/26/2014,157,648.0,1378.0,NaN,17.0,NaN,1026.0,NaN,NaN,430.0,694.0,NaN,6.0,NaN,422.0,NaN,NaN
8/31/2014,162,771.0,1698.0,NaN,21.0,1.0,1216.0,NaN,NaN,494.0,871.0,NaN,7.0,NaN,476.0,NaN,NaN
8/4/2014,135,495.0,516.0,NaN,9.0,NaN,691.0,NaN,NaN,363.0,282.0,NaN,1.0,NaN,286.0,NaN,NaN
8/6/2014,137,495.0,554.0,NaN,13.0,NaN,717.0,NaN,NaN,367.0,294.0,NaN,2.0,NaN,298.0,NaN,NaN
8/9/2014,140,506.0,599.0,NaN,13.0,NaN,730.0,NaN,NaN,373.0,323.0,NaN,2.0,NaN,315.0,NaN,NaN
9/10/2014,172,899.0,NaN,NaN,21.0,1.0,1478.0,NaN,NaN,568.0,NaN,NaN,8.0,NaN,536.0,NaN,NaN
9/13/2014,175,936.0,NaN,NaN,21.0,1.0,1620.0,NaN,NaN,595.0,1296.0,NaN,8.0,0.0,562.0,NaN,NaN
9/14/2014,176,942.0,2710.0,NaN,NaN,NaN,1673.0,NaN,NaN,601.0,1459.0,NaN,NaN,NaN,562.0,NaN,NaN
9/17/2014,179,NaN,3022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1578.0,NaN,NaN,NaN,NaN,NaN,NaN
9/19/2014,181,1008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,632.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9/20/2014,182,NaN,NaN,NaN,NaN,NaN,1813.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,593.0,NaN,NaN
9/21/2014,183,1022.0,3280.0,NaN,20.0,1.0,1940.0,NaN,NaN,635.0,1677.0,NaN,8.0,0.0,597.0,NaN,NaN
9/23/2014,185,1074.0,3458.0,NaN,20.0,1.0,2021.0,NaN,NaN,648.0,1830.0,NaN,8.0,0.0,605.0,NaN,NaN
9/28/2014,190,1157.0,3696.0,NaN,20.0,1.0,2304.0,NaN,NaN,710.0,1998.0,NaN,8.0,0.0,622.0,NaN,NaN
9/5/2014,167,812.0,1871.0,NaN,22.0,1.0,1261.0,NaN,NaN,517.0,1089.0,NaN,8.0,NaN,491.0,NaN,NaN
9/7/2014,169,861.0,2081.0,NaN,21.0,3.0,1424.0,NaN,NaN,557.0,1137.0,NaN,8.0,0.0,524.0,NaN,NaN
9/9/2014,171,NaN,2407.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
new_ebola = pd.DataFrame({'Date':ebola.Date,
                          'Day':ebola.Day})
ebola_melt = pd.melt(ebola, id_vars=['Date', 'Day'])

variable = ebola_melt.variable
value = ebola_melt.value
status = ebola_melt.variable.str.split('_').str[0]
country = ebola_melt.variable.str.split('_').str[1]

pd.concat([new_ebola, variable, value, status.rename('status'), country.rename('country.status')], axis=1)

            Date    Day      variable   value  status country.status
0       1/5/2015  289.0  Cases_Guinea  2776.0   Cases         Guinea
1       1/4/2015  288.0  Cases_Guinea  2775.0   Cases         Guinea
2       1/3/2015  287.0  Cases_Guinea  2769.0   Cases         Guinea
3       1/2/2015  286.0  Cases_Guinea     NaN   Cases         Guinea
4     12/31/2014  284.0  Cases_Guinea  2730.0   Cases         Guinea
5     12/28/2014  281.0  Cases_Guinea  2706.0   Cases         Guinea
6     12/27/2014  280.0  Cases_Guinea  2695.0   Cases         Guinea
7     12/24/2014  277.0  Cases_Guinea  2630.0   Cases         Guinea
8     12/21/2014  273.0  Cases_Guinea  2597.0   Cases         Guinea
9     12/20/2014  272.0  Cases_Guinea  2571.0   Cases         Guinea
10    12/18/2014  271.0  Cases_Guinea     NaN   Cases         Guinea
11    12/14/2014  267.0  Cases_Guinea  2416.0   Cases         Guinea
12     12/9/2014  262.0  Cases_Guinea     NaN   Cases         Guinea
13     12/7/2014  260.0  Cases_Guinea  2292.0   Cases         Guinea
14     12/3/2014  256.0  Cases_Guinea     NaN   Cases         Guinea
15    11/30/2014  253.0  Cases_Guinea  2164.0   Cases         Guinea
16    11/28/2014  251.0  Cases_Guinea     NaN   Cases         Guinea
17    11/23/2014  246.0  Cases_Guinea  2134.0   Cases         Guinea
18    11/22/2014  245.0  Cases_Guinea     NaN   Cases         Guinea
19    11/18/2014  241.0  Cases_Guinea  2047.0   Cases         Guinea
20    11/16/2014  239.0  Cases_Guinea  1971.0   Cases         Guinea
21    11/15/2014  238.0  Cases_Guinea     NaN   Cases         Guinea
22    11/11/2014  234.0  Cases_Guinea  1919.0   Cases         Guinea
23    11/10/2014  233.0  Cases_Guinea     NaN   Cases         Guinea
24     11/9/2014  232.0  Cases_Guinea  1878.0   Cases         Guinea
25     11/8/2014  231.0  Cases_Guinea     NaN   Cases         Guinea
26     11/4/2014  227.0  Cases_Guinea     NaN   Cases         Guinea
27     11/3/2014  226.0  Cases_Guinea  1760.0   Cases         Guinea
28     11/2/2014  225.0  Cases_Guinea  1731.0   Cases         Guinea
29    10/31/2014  222.0  Cases_Guinea     NaN   Cases         Guinea
...          ...    ...           ...     ...     ...            ...
1922         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1923         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1924         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1925         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1926         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1927         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1928         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1929         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1930         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1931         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1932         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1933         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1934         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1935         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1936         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1937         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1938         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1939         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1940         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1941         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1942         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1943         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1944         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1945         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1946         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1947         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1948         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1949         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1950         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali
1951         NaN    NaN   Deaths_Mali     NaN  Deaths           Mali

[1952 rows x 6 columns]