In [ ]:
## day5 Quiz ##
# 1. 여러 개의 파일(for문 사용)로드
# 2. melt -> pivot_table 행/열 요소 변경 연습
# 3. concat, split 응용
# ebola데이터를
# Date Day variable     value status country.stataus
# #날짜 ...  Cases_국가 2000   Cases        국가명

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os 
import urllib.request
import glob
from jupyterthemes import jtplot

In [2]:
# 1. 여러 개의 파일(for문 사용)로드

with open('data/raw_data_urls.txt', 'r') as data_urls:
    for line, url in enumerate(data_urls):
        if line == 4:
            break
        fn=url.split("/")[-1].strip()
        print(url)
        fp=os.path.join('','data',fn)
        urllib.request.urlretrieve(url, fp)

https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv

https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-02.csv

https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-03.csv

https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-04.csv

In [7]:
# 2. melt -> pivot_table 행/열 요소 변경 연습

weather_csv = pd.read_csv("data/weather.csv")
weather_csv.info()
weather_csv.iloc[:5,:10]
# weather_melt = pd.melt(ebola_csv, )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 35 columns):
id         22 non-null object
year       22 non-null int64
month      22 non-null int64
element    22 non-null object
d1         2 non-null float64
d2         4 non-null float64
d3         4 non-null float64
d4         2 non-null float64
d5         8 non-null float64
d6         2 non-null float64
d7         2 non-null float64
d8         2 non-null float64
d9         0 non-null float64
d10        2 non-null float64
d11        2 non-null float64
d12        0 non-null float64
d13        2 non-null float64
d14        4 non-null float64
d15        2 non-null float64
d16        2 non-null float64
d17        2 non-null float64
d18        0 non-null float64
d19        0 non-null float64
d20        0 non-null float64
d21        0 non-null float64
d22        0 non-null float64
d23        4 non-null float64
d24        0 non-null float64
d25        2 non-null float64
d26        2 non-null float64
d27        6 non-null float64
d28        2 non-null float64
d29        4 non-null float64
d30        2 non-null float64
d31        2 non-null float64
dtypes: float64(31), int64(2), object(2)
memory usage: 6.1+ KB

        id  year  month element  d1    d2    d3  d4    d5  d6
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN

In [11]:
weather_melt=pd.melt(weather_csv, id_vars = ['id','year','month','element'],
                    var_name='day')
weather_melt

          id  year  month element  day  value
0    MX17004  2010      1    tmax   d1    NaN
1    MX17004  2010      1    tmin   d1    NaN
2    MX17004  2010      2    tmax   d1    NaN
3    MX17004  2010      2    tmin   d1    NaN
4    MX17004  2010      3    tmax   d1    NaN
5    MX17004  2010      3    tmin   d1    NaN
6    MX17004  2010      4    tmax   d1    NaN
7    MX17004  2010      4    tmin   d1    NaN
8    MX17004  2010      5    tmax   d1    NaN
9    MX17004  2010      5    tmin   d1    NaN
10   MX17004  2010      6    tmax   d1    NaN
11   MX17004  2010      6    tmin   d1    NaN
12   MX17004  2010      7    tmax   d1    NaN
13   MX17004  2010      7    tmin   d1    NaN
14   MX17004  2010      8    tmax   d1    NaN
15   MX17004  2010      8    tmin   d1    NaN
16   MX17004  2010     10    tmax   d1    NaN
17   MX17004  2010     10    tmin   d1    NaN
18   MX17004  2010     11    tmax   d1    NaN
19   MX17004  2010     11    tmin   d1    NaN
20   MX17004  2010     12    tmax   d1   29.9
21   MX17004  2010     12    tmin   d1   13.8
22   MX17004  2010      1    tmax   d2    NaN
23   MX17004  2010      1    tmin   d2    NaN
24   MX17004  2010      2    tmax   d2   27.3
25   MX17004  2010      2    tmin   d2   14.4
26   MX17004  2010      3    tmax   d2    NaN
27   MX17004  2010      3    tmin   d2    NaN
28   MX17004  2010      4    tmax   d2    NaN
29   MX17004  2010      4    tmin   d2    NaN
..       ...   ...    ...     ...  ...    ...
652  MX17004  2010      8    tmax  d30    NaN
653  MX17004  2010      8    tmin  d30    NaN
654  MX17004  2010     10    tmax  d30    NaN
655  MX17004  2010     10    tmin  d30    NaN
656  MX17004  2010     11    tmax  d30    NaN
657  MX17004  2010     11    tmin  d30    NaN
658  MX17004  2010     12    tmax  d30    NaN
659  MX17004  2010     12    tmin  d30    NaN
660  MX17004  2010      1    tmax  d31    NaN
661  MX17004  2010      1    tmin  d31    NaN
662  MX17004  2010      2    tmax  d31    NaN
663  MX17004  2010      2    tmin  d31    NaN
664  MX17004  2010      3    tmax  d31    NaN
665  MX17004  2010      3    tmin  d31    NaN
666  MX17004  2010      4    tmax  d31    NaN
667  MX17004  2010      4    tmin  d31    NaN
668  MX17004  2010      5    tmax  d31    NaN
669  MX17004  2010      5    tmin  d31    NaN
670  MX17004  2010      6    tmax  d31    NaN
671  MX17004  2010      6    tmin  d31    NaN
672  MX17004  2010      7    tmax  d31    NaN
673  MX17004  2010      7    tmin  d31    NaN
674  MX17004  2010      8    tmax  d31   25.4
675  MX17004  2010      8    tmin  d31   15.4
676  MX17004  2010     10    tmax  d31    NaN
677  MX17004  2010     10    tmin  d31    NaN
678  MX17004  2010     11    tmax  d31    NaN
679  MX17004  2010     11    tmin  d31    NaN
680  MX17004  2010     12    tmax  d31    NaN
681  MX17004  2010     12    tmin  d31    NaN

[682 rows x 6 columns]

In [12]:
weather_pivotT = weather_melt.pivot_table(
index=['id','year','month','day'],
columns='element',
)
weather_pivotT

                       value
element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2
             6     d17  28.0  17.5
                   d29  30.1  18.0
             7     d3   28.6  17.5
                   d14  29.9  16.5
             8     d23  26.4  15.0
                   d5   29.6  15.8
                   d29  28.0  15.3
                   d13  29.8  16.5
                   d25  29.7  15.6
                   d31  25.4  15.4
                   d8   29.0  17.3
             10    d5   27.0  14.0
                   d14  29.5  13.0
                   d15  28.7  10.5
                   d28  31.2  15.0
                   d7   28.1  12.9
             11    d2   31.3  16.3
                   d5   26.3   7.9
                   d27  27.7  14.2
                   d26  28.1  12.1
                   d4   27.2  12.0
             12    d1   29.9  13.8
                   d6   27.8  10.5

In [13]:
weather_pivotT.reset_index()

              id  year month  day value
element                            tmax  tmin
0        MX17004  2010     1  d30  27.8  14.5
1        MX17004  2010     2  d11  29.7  13.4
2        MX17004  2010     2   d2  27.3  14.4
3        MX17004  2010     2  d23  29.9  10.7
4        MX17004  2010     2   d3  24.1  14.4
5        MX17004  2010     3  d10  34.5  16.8
6        MX17004  2010     3  d16  31.1  17.6
7        MX17004  2010     3   d5  32.1  14.2
8        MX17004  2010     4  d27  36.3  16.7
9        MX17004  2010     5  d27  33.2  18.2
10       MX17004  2010     6  d17  28.0  17.5
11       MX17004  2010     6  d29  30.1  18.0
12       MX17004  2010     7   d3  28.6  17.5
13       MX17004  2010     7  d14  29.9  16.5
14       MX17004  2010     8  d23  26.4  15.0
15       MX17004  2010     8   d5  29.6  15.8
16       MX17004  2010     8  d29  28.0  15.3
17       MX17004  2010     8  d13  29.8  16.5
18       MX17004  2010     8  d25  29.7  15.6
19       MX17004  2010     8  d31  25.4  15.4
20       MX17004  2010     8   d8  29.0  17.3
21       MX17004  2010    10   d5  27.0  14.0
22       MX17004  2010    10  d14  29.5  13.0
23       MX17004  2010    10  d15  28.7  10.5
24       MX17004  2010    10  d28  31.2  15.0
25       MX17004  2010    10   d7  28.1  12.9
26       MX17004  2010    11   d2  31.3  16.3
27       MX17004  2010    11   d5  26.3   7.9
28       MX17004  2010    11  d27  27.7  14.2
29       MX17004  2010    11  d26  28.1  12.1
30       MX17004  2010    11   d4  27.2  12.0
31       MX17004  2010    12   d1  29.9  13.8
32       MX17004  2010    12   d6  27.8  10.5

In [27]:
# 3. Date Day variable     value status country.stataus

ebola=pd.read_csv('data/country_timeseries.csv')

ebola.columns
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:

new_df_ebola = pd.DataFrame({'Data':ebola.Date,'Day':ebola.Day})
ebola_sort = pd.melt(ebola, id_vars=['Date','Day'])

varify_split = ebola_sort.variable.str.split("_")

value = ebola_sort.value
variable = ebola_sort.variable
status_value = varify_split.str.get(0)
country_value = varify_split.str.get(1)

pd.concat([new_df_ebola, value, variable, status_value.rename('status'), 
           country_value.rename('country')], axis=1)

# status_value
# country_vale
# ebola_pivotT = ebola_sort.pivot_table(
# index=['Date','Day','country_value','status_value'],
# columns='variable','value'
# )
# ebola_pivotT

            Data    Day   value      variable  status country
0       1/5/2015  289.0  2776.0  Cases_Guinea   Cases  Guinea
1       1/4/2015  288.0  2775.0  Cases_Guinea   Cases  Guinea
2       1/3/2015  287.0  2769.0  Cases_Guinea   Cases  Guinea
3       1/2/2015  286.0     NaN  Cases_Guinea   Cases  Guinea
4     12/31/2014  284.0  2730.0  Cases_Guinea   Cases  Guinea
5     12/28/2014  281.0  2706.0  Cases_Guinea   Cases  Guinea
6     12/27/2014  280.0  2695.0  Cases_Guinea   Cases  Guinea
7     12/24/2014  277.0  2630.0  Cases_Guinea   Cases  Guinea
8     12/21/2014  273.0  2597.0  Cases_Guinea   Cases  Guinea
9     12/20/2014  272.0  2571.0  Cases_Guinea   Cases  Guinea
10    12/18/2014  271.0     NaN  Cases_Guinea   Cases  Guinea
11    12/14/2014  267.0  2416.0  Cases_Guinea   Cases  Guinea
12     12/9/2014  262.0     NaN  Cases_Guinea   Cases  Guinea
13     12/7/2014  260.0  2292.0  Cases_Guinea   Cases  Guinea
14     12/3/2014  256.0     NaN  Cases_Guinea   Cases  Guinea
15    11/30/2014  253.0  2164.0  Cases_Guinea   Cases  Guinea
16    11/28/2014  251.0     NaN  Cases_Guinea   Cases  Guinea
17    11/23/2014  246.0  2134.0  Cases_Guinea   Cases  Guinea
18    11/22/2014  245.0     NaN  Cases_Guinea   Cases  Guinea
19    11/18/2014  241.0  2047.0  Cases_Guinea   Cases  Guinea
20    11/16/2014  239.0  1971.0  Cases_Guinea   Cases  Guinea
21    11/15/2014  238.0     NaN  Cases_Guinea   Cases  Guinea
22    11/11/2014  234.0  1919.0  Cases_Guinea   Cases  Guinea
23    11/10/2014  233.0     NaN  Cases_Guinea   Cases  Guinea
24     11/9/2014  232.0  1878.0  Cases_Guinea   Cases  Guinea
25     11/8/2014  231.0     NaN  Cases_Guinea   Cases  Guinea
26     11/4/2014  227.0     NaN  Cases_Guinea   Cases  Guinea
27     11/3/2014  226.0  1760.0  Cases_Guinea   Cases  Guinea
28     11/2/2014  225.0  1731.0  Cases_Guinea   Cases  Guinea
29    10/31/2014  222.0     NaN  Cases_Guinea   Cases  Guinea
...          ...    ...     ...           ...     ...     ...
1922         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1923         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1924         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1925         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1926         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1927         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1928         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1929         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1930         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1931         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1932         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1933         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1934         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1935         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1936         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1937         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1938         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1939         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1940         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1941         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1942         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1943         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1944         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1945         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1946         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1947         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1948         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1949         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1950         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali
1951         NaN    NaN     NaN   Deaths_Mali  Deaths    Mali

[1952 rows x 6 columns]