In [6]:
import pandas as pd
data={'ID':['A1','A2','A3'],
     'X1':[10,20,30],
     'X2':[1.1,2.2,3.3]}
data

{'ID': ['A1', 'A2', 'A3'], 'X1': [10, 20, 30], 'X2': [1.1, 2.2, 3.3]}

In [8]:
df=pd.DataFrame(data, index=['a1','a2','a3'])
df

    ID  X1   X2
a1  A1  10  1.1
a2  A2  20  2.2
a3  A3  30  3.3

In [10]:
df2=df.reindex(['a1','a2','a3','a4'])
df2

     ID    X1   X2
a1   A1  10.0  1.1
a2   A2  20.0  2.2
a3   A3  30.0  3.3
a4  NaN   NaN  NaN

In [12]:
df2.to_csv("df2.csv", sep=",", na_rep="NaN")
df2

     ID    X1   X2
a1   A1  10.0  1.1
a2   A2  20.0  2.2
a3   A3  30.0  3.3
a4  NaN   NaN  NaN

In [15]:
import numpy as np
df1=pd.DataFrame(data=np.arange(12).reshape(3,4),
                index=['r0','r1','r2'],
                columns=['c0','c1','c2','c3'])
df1

    c0  c1  c2  c3
r0   0   1   2   3
r1   4   5   6   7
r2   8   9  10  11

In [17]:
df1.T

    r0  r1  r2
c0   0   4   8
c1   1   5   9
c2   2   6  10
c3   3   7  11

In [18]:
df1.axes

[Index(['r0', 'r1', 'r2'], dtype='object'),
 Index(['c0', 'c1', 'c2', 'c3'], dtype='object')]

In [19]:
df1.dtypes

c0    int32
c1    int32
c2    int32
c3    int32
dtype: object

In [20]:
df1.info

<bound method DataFrame.info of     c0  c1  c2  c3
r0   0   1   2   3
r1   4   5   6   7
r2   8   9  10  11>

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, r0 to r2
Data columns (total 4 columns):
c0    3 non-null int32
c1    3 non-null int32
c2    3 non-null int32
c3    3 non-null int32
dtypes: int32(4)
memory usage: 152.0+ bytes

In [22]:
df1.shape

(3, 4)

In [23]:
df1

    c0  c1  c2  c3
r0   0   1   2   3
r1   4   5   6   7
r2   8   9  10  11

In [24]:
type(df1.shape)

tuple

In [25]:
df1.size

12

In [26]:
df1.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [28]:
df2=pd.DataFrame({'c1':['a','a','b','b','c'],
                 'v1':np.arange(5),
                 'v2':np.random.rand(5)
                 },
                index=['r0','r1','r2','r3','r4']
                )
df2

   c1  v1        v2
r0  a   0  0.480358
r1  a   1  0.612866
r2  b   2  0.292720
r3  b   3  0.391766
r4  c   4  0.098709

In [29]:
df2.index

Index(['r0', 'r1', 'r2', 'r3', 'r4'], dtype='object')

In [30]:
df2.ix[2:]

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   c1  v1        v2
r2  b   2  0.292720
r3  b   3  0.391766
r4  c   4  0.098709