In [2]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import sklearn.preprocessing
from sklearn.preprocessing import StandardScaler, RobustScaler

In [4]:
df=pd.DataFrame(np.random.randn(5,3),
               columns=['c1','c2','c3'])
df

         c1        c2        c3
0  1.086115  0.113184  1.214554
1  0.176557 -0.886405 -1.468901
2 -0.508212 -0.741804  0.464698
3  1.524628  0.907013 -1.307321
4 -0.209556  0.980748 -1.446729

In [6]:
dfdate=['07/3/2019','07/4/2019','07/5/2019','07/10/2019']
dfdate

['07/3/2019', '07/4/2019', '07/5/2019', '07/10/2019']

In [7]:
myDate=pd.to_datetime(dfdate)
myDate

DatetimeIndex(['2019-07-03', '2019-07-04', '2019-07-05', '2019-07-10'], dtype='datetime64[ns]', freq=None)

In [9]:
times = Series([1, np.nan, np.nan, 20], index=myDate)
times

2019-07-03     1.0
2019-07-04     NaN
2019-07-05     NaN
2019-07-10    20.0
dtype: float64

In [10]:
ti=times.interpolate()
ti

2019-07-03     1.000000
2019-07-04     7.333333
2019-07-05    13.666667
2019-07-10    20.000000
dtype: float64

In [11]:
df=DataFrame({'c1':[1,2,np.nan, np.nan, 5],
             'c2':[6,8,10,np.nan,20]})
df

    c1    c2
0  1.0   6.0
1  2.0   8.0
2  NaN  10.0
3  NaN   NaN
4  5.0  20.0

In [12]:
df.interpolate(method='values')

    c1    c2
0  1.0   6.0
1  2.0   8.0
2  3.0  10.0
3  4.0  15.0
4  5.0  20.0

In [ ]:
df.interpolate(method='value', limit=1, limit_direction='backward')