In [1]:
csv=pd.read_csv("test_csv_file.csv")
csv

NameError: name 'pd' is not defined

In [12]:
text=pd.read_csv("test_text_file.txt", sep="|", index_col="ID")
text

    A  B  C  D
ID
C1  1  2  3  4
C2  5  6  7  8
C3  1  3  5  7

In [15]:
text=pd.read_csv("text_without_column_name.txt", sep="|", header=None, names=['ID','A','B','C','D'])
text

   ID  A  B  C  D
0  C1  1  2  3  4
1  C2  5  6  7  8
2  C3  1  3  5  7

In [17]:
type(text)
text.info() 
# 클래스 : 붕어빵 기계 // 건물 설계도 (부여시 일반적으로 대문자 표기 ==> 클래스의미)
# (.) : 구분자
# 객체(object) : 붕어빵 // 건물 (설계도를 바탕으로 만들어진 instance 실체)

# df 형태로 읽혀져온다
# 탐색적 데이터분석법에서 가장 흔한 툴
# r - str과 같은 역할

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
ID    3 non-null object
A     3 non-null int64
B     3 non-null int64
C     3 non-null int64
D     3 non-null int64
dtypes: int64(4), object(1)
memory usage: 200.0+ bytes

In [18]:

# object : '문자' 를 의미
# 3개의 엔트리안에 3개 non-null object

# null : 값이 없는것 ==> non-null : 값이 있다
# na 
# none

In [20]:
# dataframe 생성법
# dic -> df 변환
data={'ID':['A1','A2','A3'],
     'X1':[10,20,30],
     'X2':[1.1,2.2,3.3]} # {} : 딕셔너리
data

{'ID': ['A1', 'A2', 'A3'], 'X1': [10, 20, 30], 'X2': [1.1, 2.2, 3.3]}

In [22]:
df=pd.DataFrame(data, index=['a1','a2','a3'])
df

    ID  X1   X2
a1  A1  10  1.1
a2  A2  20  2.2
a3  A3  30  3.3

In [23]:
# dic의 키로 해당하는것들이 열로 작용
# value에 해당하는 것들이 데이터로 작용
# 결측치 추가 설정 
# index=[''.''.''] : 행 인덱스로 작용

In [24]:
# 데이터 프레임에 행추가(인덱스)
df2=df.reindex(['a1','a2','a3','a4'])
df2
# NaN : Not a Number | 숫자가 아니다
# pandas에서는 Nan : 결측값 (값이 없다)(값이 누락되어져 있다)
# 1.이유는 정말로 그값이 없는 경우
# 2.데이터 입력자가 실수로 데이터 기입 누락경우
# 3.임의적으로 결측값을 지정하는 경우
# 그러므로 Nan에 대한 처리를 pandas에서 어떻게하느냐가 중요 issue
# deep learning에서는 NaN (inf -> 발산) # 모델이 제대로 만들어지지 않은 상태를 가리킴
# 일반적으로는 딥러닝 기반으로 모델을 만들어 예측하는것이 good
# 결측값에 해당하는 학생데이터의 학생을 찾아 그와 비슷한 학생군을 뽑아 예측처리시킴
# 학습과정에서 학습률을 조정할수 있다.

     ID    X1   X2
a1   A1  10.0  1.1
a2   A2  20.0  2.2
a3   A3  30.0  3.3
a4  NaN   NaN  NaN

In [29]:
df2.to_csv("df2.csv", sep=",",na_rep="NaN")
# 결측값에 대한 구분자 표기는 어떻게 할래 : (na_rep="NaN")
# 별도의 seperator 구분 안해도 (,) 로구분해 내보낸다
# 별도의 seperator 구분 표기 ( sep="" )
# . + 'tab' : df 자료형에 알맞는 속성이나 매서드의 집합을 확인가능하다
# 뒤에 괄호가 없으면 속성으로 보고 있으면 함수(메서드)라고 보면됨
# 모든 객체는 속성과 메서드를 가진다 
# 일반적으로 함수호출은 객체의 동작을 가리킴 ex) 자동차의 달린다, 경적을 울린다 등의 동작 = 함수
# 속성 : 객체의 특성값 ex) 붕어빵의 '색상' 이라는 속성의 값 = '황색' // '내용물'속성 값 = ' 팥'

In [31]:
import numpy as np
df1=pd.DataFrame(data=np.arange(12).reshape(3,4),
                index=['r0','r1','r2'],
                columns=['c0','c1','c2','c3'])
df1
# , 다음 enter하여 가독성 높인 구문을 만들어라

    c0  c1  c2  c3
r0   0   1   2   3
r1   4   5   6   7
r2   8   9  10  11

In [32]:
# 행렬과 벡터연산을 하는 과정에서 transport 속성을 활용하라
df1.T
# 행렬의 행과열이 바뀌어 출력됨

    r0  r1  r2
c0   0   4   8
c1   1   5   9
c2   2   6  10
c3   3   7  11

In [36]:
df1.axes 
# 축의 복수
# 축의 단수 => .axis

[Index(['r0', 'r1', 'r2'], dtype='object'),
 Index(['c0', 'c1', 'c2', 'c3'], dtype='object')]

In [37]:
df1.dtypes

c0    int32
c1    int32
c2    int32
c3    int32
dtype: object

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, r0 to r2
Data columns (total 4 columns):
c0    3 non-null int32
c1    3 non-null int32
c2    3 non-null int32
c3    3 non-null int32
dtypes: int32(4)
memory usage: 152.0+ bytes

In [40]:
df1.shape
# 행과 열의 구조를 튜플 형태로 출력
# set : 중복된것을 중복되지않게 출력한것 
# 중괄호 - dictionary
# 소괄호 - 튜플

(3, 4)

In [41]:
type(df1.shape)

tuple

In [42]:
df1.size 
# size : 요소의 개수

12

In [43]:
df1.values 
# 구성 데이터 요소 출력

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [47]:
df2=pd.DataFrame({'c1':['a','a','b','b','c'],
                 'v1':np.arange(5),
                 'v2':np.random.randn(5)
                 },
                index=['r0','r1','r2','r3','r4']
                )
df2

   c1  v1        v2
r0  a   0  0.410418
r1  a   1 -0.233061
r2  b   2  0.944252
r3  b   3  0.958090
r4  c   4 -1.126440

In [48]:
df2.index

Index(['r0', 'r1', 'r2', 'r3', 'r4'], dtype='object')

In [49]:
df2.ix[2:]
# ix 가 duplicate 됫으므로 다른걸로 대체해달라는 warn

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   c1  v1        v2
r2  b   2  0.944252
r3  b   3  0.958090
r4  c   4 -1.126440

In [50]:
df2.ix[2]
# 특정행을 지정하게 되는 경우 그 해당 행만 도출되어 나옴

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

c1           b
v1           2
v2    0.944252
Name: r2, dtype: object

In [51]:
df2.ix['r2']
# ix 사용시 행인덱스 이름, 번호 모두 사용해서 같은 결과 도출가능

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

c1           b
v1           2
v2    0.944252
Name: r2, dtype: object

In [52]:
df2

   c1  v1        v2
r0  a   0  0.410418
r1  a   1 -0.233061
r2  b   2  0.944252
r3  b   3  0.958090
r4  c   4 -1.126440

In [53]:
# EDA : 탐색적 분석방법
# df 2 와 같은 방대한 양의 데이터가 존재한다 가정시, 머리부분 보고싶다
df2.head(3)
# head() : 상위 6개 도출

   c1  v1        v2
r0  a   0  0.410418
r1  a   1 -0.233061
r2  b   2  0.944252

In [54]:
df2.tail(3)

   c1  v1        v2
r2  b   2  0.944252
r3  b   3  0.958090
r4  c   4 -1.126440

In [55]:
df2.columns
# .columns : 컬럼들에 대한 정보 표기

Index(['c1', 'v1', 'v2'], dtype='object')

In [56]:
df2['v1']
# 해당열에 대한 정보 도출

r0    0
r1    1
r2    2
r3    3
r4    4
Name: v1, dtype: int32

In [57]:
# 두 개의 열을 동시 도출
df2[['v1','v2']]
# 두 개 이상일 시 대괄호 하나더 호출

    v1        v2
r0   0  0.410418
r1   1 -0.233061
r2   2  0.944252
r3   3  0.958090
r4   4 -1.126440

In [60]:
# 열벡터 여러개 구성 : matrix
# 열벡터 하나 : 1 차원
type(df2['v1']) 
# => 특정 벡터만 추출 : series
type(df2[['v1']])
# => 열백터가 두개이상이면 : dataframe
# => 열벡터가 하나일 때, series OR dataframe 으로 읽을수 있고, 이는 [], [[]]를 통해 구분해 표기할수 있다.

pandas.core.frame.DataFrame

In [75]:
# 인덱스 재지정법
df2=pd.DataFrame({'c1':['a','a','b','b','c'],
                 'v1':np.arange(5),
                 'v2':np.random.randn(5)
                 },
                index=['r0','r1','r2','r3','r4']
                )
df2

   c1  v1        v2
r0  a   0  0.154906
r1  a   1  0.088624
r2  b   2 -0.320751
r3  b   3 -0.490295
r4  c   4  0.168024

In [108]:
# r3 & r4 행을 제거하고 새로운 행 인덱스 이름을 추가하자
newindex=['r0','r1','r2','r5','r6']
df2=df2.reindex(newindex, fill_value='NA')
df2.info()


# reindex() 함수를 통해 변형함
# 저장되어진 리스트형태로 소환
# 값이 없으므로 NaN으로 도출
# 결측값을 어떤 값으로 변경해라 fill_value
# r5 r6 해당 c1열은 1을 표기하지만 문자 1로 인식한다.

# fill_value='NA' => 결측값지정

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, r0 to r6
Data columns (total 1 columns):
c1    5 non-null object
dtypes: object(1)
memory usage: 80.0+ bytes

In [107]:
df2

    c1
r0  NA
r1  NA
r2  NA
r5  NA
r6  NA

In [82]:
dindex=pd.date_range('07/02/2019', periods=5, freq='D')
# (기준일로 부터, 기한을 준다. )
# 월/일/년
# '일' = '5' 동안의 데이터 출력

In [115]:
# 행인덱스 : 행단위로 데이터 구분
# 행 - ex) 날씨예측 .. 일
df2=pd.DataFrame({'c1':[1,2,3,4,5]}, index=dindex) 
df2
# 열하나로 이루어진 df
# 인덱스 속성 에 선언한 index구를 바로 사용해줄수 있다

            c1
2019-07-02   1
2019-07-03   2
2019-07-04   3
2019-07-05   4
2019-07-06   5

In [117]:
dindex2=pd.date_range('06/30/2019', periods=10, freq='D')
dindex2

DatetimeIndex(['2019-06-30', '2019-07-01', '2019-07-02', '2019-07-03',
               '2019-07-04', '2019-07-05', '2019-07-06', '2019-07-07',
               '2019-07-08', '2019-07-09'],
              dtype='datetime64[ns]', freq='D')

In [103]:
# reindex : 동일한건 그대로, 동일하지 않으면 추가
# 설정해주지 않으면 수치데이터 기본형은 float이다. 소수점이하 데이터가 다수이므로, 자료형반환을 float으로 한다.
df2=df2.reindex(dindex2,method='ffill')

In [123]:
df2

            c1
2019-07-02   1
2019-07-03   2
2019-07-04   3
2019-07-05   4
2019-07-06   5

In [124]:
# df2.reindex(dindex2,method='ffill')
df2 = df2.reindex(dindex2,method='bfill')
df2
# 어떤 방법으로 NaN을 채울것이냐 
# forward (위 -> 아래) 방향으로 채워라 약자 'f'fill
# axes를 뭘로 주느냐에 따라 다양한 축의 기준에 따라 합치는작업이 정해짐

             c1
2019-06-30  1.0
2019-07-01  1.0
2019-07-02  1.0
2019-07-03  2.0
2019-07-04  3.0
2019-07-05  4.0
2019-07-06  5.0
2019-07-07  NaN
2019-07-08  NaN
2019-07-09  NaN